extends ../layout.pug

block content
  each component in components
    include partials/component.pug

block append styles
  link(rel='stylesheet' href='/ss-content-overview/css/ss-content-overview.css')

block append scripts
  script(src="/ss-content-overview/js/ss-content-overview.bundle.js")
