extends ../layout.pug

block content
  each component in components
    include partials/component.pug

block append styles
  link(rel='stylesheet' href='/psr-landing/css/psr-landing.css')

block append scripts
  script(src="/psr-landing/js/psr-landing.bundle.js")
