extends ../layout.pug

block content
  each component in components
    include partials/component.pug

block append styles
  link(rel='stylesheet' href='/application-start-overview/css/application-start-overview.css')

block append scripts
  script(src="/application-start-overview/js/application-start-overview.bundle.js")
