extends ../layout.pug

block content
  each component in components
    include partials/component.pug

block append styles
  link(rel='stylesheet' href='/ss-calculators/css/ss-calculators.css')

block append scripts
  script(src="/ss-calculators/js/ss-calculators.bundle.js")
